@model IEnumerable<ChannelItem>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

@if (Context.User.Identity.IsAuthenticated)
{
    <p>
        <a asp-action="GetSubscriptions">Get Subscriptions</a>
        <a asp-action="GetVideos">Get Videos</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Title)</th>
            <th>@Html.DisplayNameFor(model => model.UploadPlaylist)</th>
            <th>@Html.DisplayNameFor(model => model.NumberOfVideos)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Title)</td>
                <td>@Html.DisplayFor(modelItem => item.UploadPlaylist)</td>
                <td>@Html.DisplayFor(modelItem => item.NumberOfVideos)</td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.DatabaseId">Details</a> | 
                    <a asp-action="UpdateVideos" asp-route-id="@item.DatabaseId">Update Videos</a>
                </td>
            </tr>
        }
    </tbody>
</table>
