@model IEnumerable<YoutubeOrganizer.Models.ChannelItem>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

@if (Context.User.Identity.IsAuthenticated)
{
    <p>
        <a asp-action="GetSubscriptions">Get Subscriptions</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UploadPlaylist)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UploadPlaylist)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.DatabaseId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.DatabaseId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.DatabaseId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
