@using System.Threading.Tasks
@using Sakura.AspNetCore
@model IPagedList<VideoItem>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
@await Html.PartialAsync("~/Views/Shared/Pagination.cshtml", Model)

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().ChannelTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Duration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().PublishDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Watched)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().ThumbnailUrl)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
            {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.ChannelTitle)</td>
                <td>*<a asp-controller="Videos" asp-action="Details" asp-route-id="@item.Id">@item.Title</a></td>
                <td>@Html.DisplayFor(modelItem => item.DisplayDuration)</td>
                <td>@Html.DisplayFor(modelItem => item.PublishDate)</td>
                <td>@Html.DisplayFor(modelItem => item.Watched)</td>
                <td><a href="@item.VideoURL"><img src="@item.ThumbnailUrl" alt="Thumbnail" style="width: 120px; height: 90px;"></a></td>
            </tr>
        }
    </tbody>
</table>
@await Html.PartialAsync("~/Views/Shared/Pagination.cshtml", Model)

